<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            margin: 5% 10%;
            background-color: #f0f0f0;
            color: #333;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            font-family: 'Arial', sans-serif;
        }

        .verify-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
        }

        .verify-container:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }

        .verify {
            background-color: #2ecc71;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .verify:hover {
            background-color: #27ae60;
            transform: scale(1.05);
        }

        .message {
            font-size: 1.2rem;
            line-height: 1.5;
        }

        .link {
            color: #3498db;
            text-decoration: none;
        }

        .link:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="verify-container">
        <span class="message">Dear <%=name%>,</span>
        <span class="message">Please verify your email with the following link:</span>
        <a href="<%=emailVerificationURL%>" class="verify">Verify Email</a>
        <span class="message">If the link is not clickable, click the link below:</span>
        <a href="<%=emailVerificationURL%>" class="link">
            <%=emailVerificationURL%>
        </a>
    </div>
</body>

</html>
